<h1>{{ficha.nome}}</h1>
classe: <input type="text" [(ngModel)]="classe" (blur)="saveFicha()"><br>
agilidade: <input type="number" [(ngModel)]="agilidade" (blur)="saveFicha()"><br>
forca: <input type="number" [(ngModel)]="forca" (blur)="saveFicha()"><br>
presenca: <input type="number" [(ngModel)]="presenca" (blur)="saveFicha()"><br>
vigor: <input type="number" [(ngModel)]="vigor" (blur)="saveFicha()"><br>
intelecto: <input type="number" [(ngModel)]="intelecto" (blur)="saveFicha()"><br>
<br>
pv: <input type="number" [(ngModel)]="pvAtual" (blur)="saveFicha()">/<input type="number" [(ngModel)]="pv" (blur)="saveFicha()"><br>
pe: <input type="number" [(ngModel)]="peAtual" (blur)="saveFicha()">/<input type="number" [(ngModel)]="pe" (blur)="saveFicha()"><br>
sanidade: <input type="number" [(ngModel)]="sanidadeAtual" (blur)="saveFicha()">/<input type="number" [(ngModel)]="sanidade" (blur)="saveFicha()"><br>
defesa: <input type="text" [(ngModel)]="defesa" (blur)="saveFicha()"><br>
<br>
<h2>Treinamentos</h2>
Acrobacia: <select [(ngModel)]="tAcrobacia" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Adestramento: <select [(ngModel)]="tAdestramento" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Artes: <select [(ngModel)]="tArtes" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Atletismo: <select [(ngModel)]="tAtletismo" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Atualidade: <select [(ngModel)]="tAtualidade" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Ciencia: <select [(ngModel)]="tCiencia" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Crime: <select [(ngModel)]="tCrime" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Diplomacia: <select [(ngModel)]="tDiplomacia" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Enganacao: <select [(ngModel)]="tEnganacao" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Fortitude: <select [(ngModel)]="tFortitude" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Furtividade: <select [(ngModel)]="tFurtividade" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Iniciativa: <select [(ngModel)]="tIniciativa" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Intimidacao: <select [(ngModel)]="tIntimidacao" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Investigacao: <select [(ngModel)]="tInvestigacao" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Luta: <select [(ngModel)]="tLuta" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Medicina: <select [(ngModel)]="tMedicina" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Ocultismo: <select [(ngModel)]="tOcultismo" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Percepcao: <select [(ngModel)]="tPercepcao" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Pilotagem: <select [(ngModel)]="tPilotagem" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Pontaria: <select [(ngModel)]="tPontaria" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Profissao: <select [(ngModel)]="tProfissao" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Reflexo: <select [(ngModel)]="tReflexo" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Religiao: <select [(ngModel)]="tReligiao" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Sobrevivencia: <select [(ngModel)]="tSobrevivencia" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Tatica: <select [(ngModel)]="tTatica" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Tecnologia: <select [(ngModel)]="tTecnologia" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select><br>
Vontade: <select [(ngModel)]="tVontade" (change)="saveFicha()">
    <option value="0">Leigo</option>
    <option value="1">Treinado</option>
    <option value="2">Experto</option>
</select>
<br><br>
<div *ngFor="let habilidade of habilidadesObserv | async" class="habilidadePanel">
    <p>{{habilidade.titulo}}
    <select [value]="habilidade.origem" disabled>
        <option value="0">Classe</option>
        <option value="1">Origem</option>
        <option value="2">Outros</option>
    </select></p>
    <p>{{habilidade.descricao}}</p>
    <button (click)="deleteHabilidade(habilidade.id)">Delete</button>
</div>
<input type="text" [(ngModel)]="tituloHabilidade"><br>
<select [(ngModel)]="origemSHabilidade">
    <option value="0">Classe</option>
    <option value="1">Origem</option>
    <option value="2">Outros</option>
</select><br>
<textarea [(ngModel)]="descricaoHabilidade"></textarea><br>
<button (click)="saveHabilidade()">add habilidade</button>